:root{
    --base: #eff1f5;
    --mantel:#e6e9ef;
    --crust:#dce0e8;
    
    --surface0: #ccd0da;
    --surface1: #bcc0cc;
    --surface2: #acb0be;

    --overlay0: #9ca0b0;
    --overlay1: #8c8fa1;
    --overlay2: #7c7f93;

    --subtext0: #6c6f85;
    --subtext1: #5c5f77;
    --text: #4c4f69;

    --lavender: #7287fd;
    --blue: #1e66f5;
    --saphire: #209fb5;
    --sky: #04a5e5;
    --teal: #179299;
    --green: #40a02b;
    --yellow: #df8e1d;
    --peach: #fe640b;
    --maroon: #e64553;
    --red: #d20f39;
    --mauve: #8839ef;
    --pink: #ea76cb;
    --flamingo: #dd7878;
    --rosewater: #dc8a78;
}
[data-theme="dark"] {
    --base: #24273a;
    --mantel:#1e2030;
    --crust:#181926;
    
    --surface0: #363a4f;
    --surface1: #494d64;
    --surface2: #5b6078;
    
    --overlay0: #6e738d;
    --overlay1: #8087a2;
    --overlay2: #939ab7;
    
    --subtext0: #a5adcb;
    --subtext1: #b8c0e0;
    --text: #cad3f5;
    
    --lavender: #b7bdf8;
    --blue: #8aadf4;
    --saphire: #7dc4e4;
    --sky: #91d7e3;
    --teal: #8bd5ca;
    --green: #a6da95;
    --yellow: #eed49f;
    --peach: #f5a97f;
    --maroon: #ee99a0;
    --red: #ed8796;
    --mauve: #c6a0f6;
    --pink: #f5bde6;
    --flamingo: #f0c6c6;
    --rosewater: #f4dbd6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
    transition: all 0.25s ease-in-out;
    color-scheme: dark;
    color: var(--text)
}

body{
    font-family: 'Fira Code', sans-serif;
    background-color: var(--base);
    margin: auto 1em auto 1em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.icons {
    width: 2.5em;
    height: 2.5em;
    transition: all 0.1s ease-in-out;
}
.icons:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.icons:active {
    transform: scale(1);
}

header {
    background-color: var(--surface0);
    color: var(--subtext0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 10px var(--surface2);
    margin: 1.5em 0 1.5em 0;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}
header ul li {
    margin: 0 1em 0 1em;
    align-items: center;
}

header ul li:first-child {
    margin-right: auto;
}

header ul li h2 {
    
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--peach);
}

header ul li h3{
    background-color: var(--surface1);
    color: var(--text);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0 0.1em var(--surface2) inset;
    cursor: pointer;    
    transition: all 0.1s ease-in-out;
}
header ul li h3:hover{
    background-color: var(--green);
    color: var(--surface0);
    scale : 1.1;
}
header ul li h3:active{
    background-color: var(--teal);
    scale : 1;
}
  input{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    background-color: var(--surface0);
    border: 1px solid var(--surface1);
    border-radius: 0.5em;
    box-shadow: 0 0 0.1em 0.1em var(--surface1) inset;
  }
  input:hover{
    box-shadow: 0 0 10px var(--surface2);
  }
  .main-buttons{
    width: 60%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5em;
    background-color: var(--surface0);
    border: 1px solid var(--surface1);
    border-radius: 0.5em;
    box-shadow: 0 0 0 0.1em var(--surface1) inset;

  }
  .main-buttons:hover{
    background-color: var(--green);
    color: var(--surface0);
  }
p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text);
    margin: 1em 0 1em 0;

}


